<div id="header">
  <ul id="title">
    <li id="title"><a href="http://www.nicosphere.net" title="Linux Blog">Nic0's Sphere</a></li>
    <li id="slogan"><a href="/">Linux and Programming Blog</a></li>
  </ul>
  <div id="social">
    <a href="http://twitter.com/nic0sphere"  rel="nofollow" title="Follow sur twitter"><img src="/images/twitter.png" width="24" height="24" alt="twitter"></a>
    <a href="https://github.com/Nic0" rel="nofollow" title="Github"><img src="/images/github.png" width="24" height="24" alt="github"></a>
    <a href="http://www.nicosphere.net/feed" rel="nofollow" title="Flux RSS"><img src="/images/rss.png" width="24" height="24" alt="RSS"></a>
    <a href="https://plus.google.com/118358247588796366003/posts"
        rel="nofollow" title="google plus"><img src="/images/google.png" width="24" height="24" alt="google+"></a>
</div>
  <div id="nav">
    <ul>
    </ul>
  </div>
</div>
